
div{
    background-color:#e3fdfd;
    width: 100%;
}

h1{
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size:600%;
    color:#4aa96c;
}
h2{
    color:#4aa96c;

}
h3{
    color:#4aa96c;

}
#Jasir_image{
    padding-top: 40px;
    width: 15%;
}
body{
    margin: 0px;
    color:#40514e;
    font-family:verdana,sans-serif;
    font-size: 120%;
    text-align: center;
}
hr{
    margin:0 auto;
 border: dotted #849290 6px;
 border-bottom: none;
 width:22%;
}
.top-container{
    background-color:#e3fdfd;
    text-align: center;
    padding-top: 100px;
}
.profile{
    background-color: #faf3f3;
}
.bottom-cloud{
    position:absolute;
    left: 300px;
    top: 250px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
#mountain_img1{
    display:inline;
    position:relative;
    top: 5px;
    left: 10%;
    width: 700px;
}
#mountain_img2{
    top: 450px;
    right: 50%;
    /* display: inline; */
    width: 500px;
    position: absolute;
}
.image_skill{
    border: #001d0a;
    border-width: 5px;
    border-radius: 80px;
    float: left;
    margin-right: 30px;
    opacity: 0.8;
    width: 30%;
}
.skill-img{
    float: right;
    padding-left:70px;
    width: 15%;
    margin-right: 100px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height:2;
}
.para{
    text-align: left;
}
.btn {
    background: #4aa96c;
    background-image: -webkit-linear-gradient(top, #4aa96c, #618399);
    background-image: -moz-linear-gradient(top, #4aa96c, #618399);
    background-image: -ms-linear-gradient(top, #4aa96c, #618399);
    background-image: -o-linear-gradient(top, #4aa96c, #618399);
    background-image: linear-gradient(to bottom, #4aa96c, #618399);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

  }
  
  .btn:hover {
    background: #d0d6d9;
    background-image: -webkit-linear-gradient(top, #d0d6d9, #4d6a7d);
    background-image: -moz-linear-gradient(top, #d0d6d9, #4d6a7d);
    background-image: -ms-linear-gradient(top, #d0d6d9, #4d6a7d);
    background-image: -o-linear-gradient(top, #d0d6d9, #4d6a7d);
    background-image: linear-gradient(to bottom, #d0d6d9, #4d6a7d);
    text-decoration: none;
  }
  .bottom-container{
      padding-top:40px;
      margin-bottom: 0;
      background-color:#faf3f3;
  }
.contact-me{
    padding-bottom: 40px;
}